<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="%userprofile%\.nuget\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSources>
    <add key="Official" value="https://www.myget.org/F/workflow/" />
    <add key="Connect" value="https://gallery.uipath.com/api/v3/index.json" />
    <add key="Azure" value="https://pkgs.dev.azure.com/uipath/Public.Feeds/_packaging/UiPath-Official/nuget/v3/index.json" />
    <add key="Marketplace" value="https://gallery.uipath.com/api/v2" />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Autopilot" value="https://uipath.pkgs.visualstudio.com/Public.Feeds/_packaging/Autopilot for Everyone-Packages/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="myget" value="https://myget.org/F/workflow" />
    <add key="beta" value="https://uipath.pkgs.visualstudio.com/Public.Feeds/_packaging/UiPath-Internal/nuget/v3/index.json" />
    <add key="marketplace2" value="https://gallery.uipath.com/api/v2" />
    <add key="mypkg" value="C:\Users\yoshifumi.tsuda\Desktop\mypkg" />
    <add key="GSD-4466" value="C:\Users\yoshifumi.tsuda\OneDrive - UiPath\Documents\Marketplace\GSD-4466 受発注ファイル連携" />
    <add key="DDBA" value="C:\Users\yoshifumi.tsuda\OneDrive - UiPath\Documents\DDBA\SharePoint DL できない問題" />
    <add key="GSD-3738" value="C:\Users\yoshifumi.tsuda\OneDrive - UiPath\Documents\Cresco\GSD-3738" />
    <add key="GSD-3613" value="C:\Users\yoshifumi.tsuda\OneDrive - UiPath\Documents\Cresco\GSD-3613" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="TelNuGet" value="https://www.nuget.org/api/v2" />
    <add key="aladin" value="C:\tmp\aladin" />
  </packageSources>
  <disabledPackageSources>
    <add key="beta" value="true" />
    <add key="mypkg" value="true" />
    <add key="GSD-4466" value="true" />
    <add key="DDBA" value="true" />
    <add key="GSD-3738" value="true" />
    <add key="GSD-3613" value="true" />
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
    <add key="TelNuGet" value="true" />
    <add key="aladin" value="true" />
    <add key="Autopilot" value="true" />
  </disabledPackageSources>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>